<div>
  <select (change)="onEstadoChange($any($event.target).value)">
    <option *ngFor="let est of estados" [value]="est.uf">
      {{ est.nome }}
    </option>
  </select>

  <div *ngIf="loading()">Carregando...</div>

  <ul *ngIf="!loading()">
    <li *ngFor="let m of municipios()">
      {{ m.name }} - {{ m.ibgeCode }}
    </li>
  </ul>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage() === 1">Anterior</button>

    <span>Página {{ currentPage() }} de {{ totalPages() }}</span>

    <button (click)="nextPage()" [disabled]="currentPage() === totalPages()">Próxima</button>
  </div>
</div>
